


$sbx-teal: #00aba1;
$sbx-orange: #F58530;
$sbx-navy: #0A2C34;
$sbx-black: #051419;
$sbx-green: #D7E19C;
$sbx-blue:  #006775;

$white: #FFFFFF;

$button-grey: #f4f4f4;
$background-grey: #f4f4f4;
$stroke-grey: #ebebeb;
$silver: #939393;
$light-grey: #f5f6f1;

$social-blue-lighter: #38858f;
$social-blue-darker: #006776;

$active-teal: #14c9be;

